*{
  padding: 0;
  margin: 0;
}
body, #root{
  height: 100vh;
  width: 100vw;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBuyChocolateDiv{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.chocolateDrop{
    position: absolute;
    top: -10px;
}
.baksa {
    height: 94%;
    width: 21.3%;
    box-shadow: 2px 2px 10px #504f4f;
    border-radius: 2em;
    backdrop-filter: blur(5px);
}
.menu-boxes{
    height: 50%;
    width: 100%;
    position: absolute;
    justify-content: space-evenly;
}
.door{
    position: absolute;
}
.doorleft {
    top: 0;
    left: -4px;
}
.doorright {
    top: 0;
    right: -15px;
}
