*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.divBox{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.box {
    height: 100vh;
    /* background-color: navajowhite; */
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin: 0.5em;
    /* gap: 10px; */
}
.notifying {
    position: absolute;
    top: 0;
    height: 4em;
    opacity: 0;
    width: 14em;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Animate 4s ease-in-out;
}
@keyframes Animate {
    0%{
        opacity: 0;
        transform: translateX(10em);
    }
    50%{
        opacity: 1;
        transform: translateX(0em);

    }
    80%{
        opacity: 1;
        transform: translateX(0em);
    }
    100%{
        opacity: 0;
        transform: translateX(5em);
    }
    
}
.btn{

    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 3em;
    width: 8em;
    border-radius: 1em;
    border: none;
    /* background-color: lightslategrey; */
    color: aliceblue;
}