*{
  padding: 0;
  margin: 0;
}
body, #root{
  height: 100vh;
  width: 100vw;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chocobars{
  height: 100vh;
}
.bars{
  position: absolute;
  height: 15em;
  z-index: 4;
}
.bar-img{
  height: 100%;
}
.chocolate-splash-left, .chocolate-splash-right {
  position: absolute;
  z-index: 3;
}
.splash-right, .splash-left {
  opacity: 0;
}
.chippy{
  position: absolute;
  z-index: 2;
  opacity: 0;
}