*{
  padding: 0;
  margin: 0;
}
body, #root{
  height: 100vh;
  width: 100vw;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chocobars{
  height: 100vh;
  background-color: aquamarine;
}
.bars{
  position: absolute;
}